/* LandingPage.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(ellipse at center, #050d26 0%, #000000 100%);
    overflow: hidden;
    /* background-image: url('../src/images/universe3.jpeg'); /* Replace 'universe.jpg' with your image file path */
    /* background-size: cover; /* Scale the background image to cover the entire container */
    /* background-position: center; /* Center the background image */
    /* background-repeat: no-repeat; */ /* Prevent the background image from repeating */
}

.container {
    text-align: center;
    color: #ffffff;
}

.universe-hack {
    font-size: 3.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 2rem; /* Increase margin */
}

.title {
    font-size: 2.5rem; /* Decrease font size */
    margin-bottom: 1rem;
    position: relative;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add glowing animation to "Coming Soon" */
@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

.contact-button {
    background: linear-gradient(135deg, #bd93f9, #6d5eac, #f06595);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
    background: linear-gradient(135deg, #ff79c6, #bd93f9, #6d5eac);
}


